acnportal
autopep8
certifi
charset-normalizer
cycler
fonttools
idna
importlib-metadata
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pycodestyle
pyparsing
python-dateutil
python-dotenv
pytz
requests
scikit-learn
scipy
six
threadpoolctl
tomli
typing-extensions
urllib3
Werkzeug
zipp
