<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>EVSE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <div id="admin">
        <div id="data">
            <h3>Vehicle ID: </h3>
            <h3>
                <p id="id">--</p>
            </h3>
            <h3>Estimated Departure Time</h3>
            <h3>
                <p id="departure">--</p>
            </h3>
            <h3>Current Charge:</h3>
            <h3>
                <p id="current_charge">--</p> &#913;
            </h3>
            <h3>Energy Delivered:</h3>
            <h3>
                <p id="energy_delivered">--</p> kwH
            </h3>
            <h3>Precent Complete:</h3>
            <h3>
                <p id="percent_complete">--</p> %
            </h3>
            <h3>Total Amount:</h3>
            <h3>
                <p id="cost">--</p> &euro;
            </h3>
        </div>
        <div id="chart-container">
            <canvas id="chart"></canvas>
        </div>
    </div>
    <script>
        function calculateDeparture(arrival, departure) {
            let interval = departure - arrival;
            let dateTime = new Date().getTime();
            return new Date(dateTime + interval * 60000).toLocaleTimeString();
        }
        
        function addData(chart, label, data) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
            chart.update();
        }

        function newChart() {
            config = {
                type: "line",
                data: {
                    labels: [0],
                    datasets: [
                        {
                            label: 'Current Charge',
                            data: [new Date().toLocaleTimeString()]
                        }
                    ]
                }
            }

            return new Chart('chart', config);
        }

        let chart = newChart()

        let id = document.getElementById("id");
        let departure = document.getElementById("departure");
        let current_charge = document.getElementById("current_charge");
        let energy_delivered = document.getElementById("energy_delivered");
        let percent_complete = document.getElementById("percent_complete");
        let cost = document.getElementById("cost");

        let actualId = null;

        setInterval(() => {
            fetch('./status')
                .then(res => res.json())
                .then(json => {
                    // Update values each second
                    id.innerHTML = json.id
                    current_charge.innerHTML = json.current_charge.toFixed(2);
                    energy_delivered.innerHTML = json.energy_delivered.toFixed(2);
                    percent_complete.innerHTML = json.percent_complete.toFixed(2);
                    cost.innerHTML = json.cost.toFixed(2);

                    // If the id is different, it means that there is a new eletric veicol
                    if (actualId == null || actualId != json.id) {
                        departure.innerHTML = calculateDeparture(json.arrival, json.departure);
                        chart.destroy();
                        chart = newChart();
                        actualId = json.id;
                    }
                    // Initialize date for print timestamp
                    let date = new Date();
                    addData(chart, date.toLocaleTimeString(), json.current_charge);

                })
        }, 1000);
    </script>
</body>

</html>