<html>

<head>
  <title>EVSE - Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <scritp src="{{ url_for('static', filename='js/timeme.js') }}"></scritp>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/timeme.js') }}"></script>
        <script type="text/javascript">
            TimeMe.initialize({
                currentPageName: "/login",
                idleTimeoutInSeconds: 20
            });
        </script>
        <script type="text/javascript">

            window.addEventListener('beforeunload', (event) => {

                // event.preventDefault();

                // get the request in the logs
                var timeSpentOnPage = TimeMe.getTimeOnCurrentPageInSeconds();
                var thisPage = "/"
                xmlhttp=new XMLHttpRequest();
                xmlhttp.open("POST","/",false);
                xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xmlhttp.send("timeOnPage=" + timeSpentOnPage + "&page=" + thisPage);

                // Google Chrome requires returnValue to be set.
                // event.returnValue = '';
            });
        </script>

</head>

<body>
  <div id="login">
    <div class="container">
      <h1>Please login</h1>
      <form class="form" action="" method="post">
        <input type="email" placeholder="Email" name="email" value="{{
            request.form.email }}">
        <input type="password" placeholder="Password" name="password" value="{{
            request.form.password }}">
        <input type="submit" value="Login">
      </form>
      {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
    <img src="static/img/evse.png" />
  </div>
</body>

</html>