<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>EV</title>
</head>

<body>
    <canvas id="chart"></canvas>
    <script>
        function numberData(chart) {
            return chart.data.datasets[0].data.length
        }

        function addData(chart, label, data) {
            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
            chart.update();
        }

        function removeData(chart) {
            chart.data.labels.shift();
            chart.data.datasets.forEach((dataset) => {
                dataset.data.shift();
            });
            chart.update();
        }

        function removeAllData(chart) {
            chart.data.datasets[0].data = []
        }

        let chart = new Chart('chart', {
            type: "line",
            data: {
                labels: [],
                datasets: [
                    {
                        label: 'Erogated power',
                        data: []
                    }
                ]
            }
        });

        let actualId = null;

        setInterval(() => {
            fetch('./status')
                .then(res => res.json())
                .then(json => {
                    // If the id is different, it means that there is a new eletric veicol
                    if (actualId != json.Id) { removeAllData(chart) }
                    // Remove old datas from the graph
                    if (numberData(chart) >= 20) { removeData(chart) }
                    // Initialize date for print timestamp
                    let date = new Date();
                    addData(chart, date.toLocaleTimeString(), json.Power);
                })
        }, 2000);
    </script>
</body>

</html>